{% load cotton %}

<div class="mb-2 flex flex-col md:flex-row md:justify-between md:items-center">
    {% if title %}
    <h1 class="text-2xl font-semibold text-primary-900 mb-2 md:mb-0">{{ title }}</h1>
    {% endif %}
    <c-ui.breadcrumb.body>
        <!-- Home breadcrumb item -->
        <c-ui.breadcrumb.item 
            text="Home" 
            hx_get="{% url 'bloomerp_home_view' %}"
            hx_target="#main-content" 
            hx_swap="innerHTML" 
            hx_push_url="true"
        />
        
        <!-- Model dashboard breadcrumb item -->
        {% if model_name_plural %}
        <c-ui.breadcrumb.item 
            text="{{ model_name_plural|title }}" 
            hx_get="{% url model_dashboard_url %}" 
            hx_target="#main-content" 
            hx_swap="innerHTML" 
            hx_push_url="true"
        />
        {% endif %}
        
        <!-- Object detail breadcrumb item -->
        {% if object and title %}
        <c-ui.breadcrumb.item 
            text="{{ object }}" 
            hx_get="{{ object.get_absolute_url }}" 
            hx_target="#main-content" 
            hx_swap="innerHTML" 
            hx_push_url="true"
        />
        {% else %}
        <c-ui.breadcrumb.item 
            text="{{ object }}" 
            hx_get="{{ object.get_absolute_url }}" 
            hx_target="#main-content" 
            hx_swap="innerHTML" 
            hx_push_url="true"
            :active="True"
        />
        {% endif %}
        
        <!-- Current page (active) breadcrumb item -->
        {% if title %}
        <c-ui.breadcrumb.item 
            text="{{ title }}" 
            active="True"
        />
        {% endif %}
    </c-ui.breadcrumb.body>
</div>