<!--
Variables:
- content_type_id: The content type id of the object
- object: The object
- target: The target div id
-->


{% load static %}

<!-- Title -->
{% if title %}
<h3 class="card-title">{{ title }}</h3>
{% endif %}
<!-- End title -->

<!-- Search & filter -->
<!-- End search & filter -->

<div 
    id="{{ target }}"
    hx-get="{% url 'components_files' %}?content_type_id={{ content_type_id }}&object_id={{ object.pk }}"
    hx-trigger="load"
    hx-target="#{{ target }}"
    hx-swap="innerHTML"
    class="mt-2"
    >
</div>

