{% load i18n %}
<div class="space-y-2">
    <input type="file" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
    <input type="hidden" name="{{ widget.name }}__present" value="1"{% if widget.attrs.disabled %} disabled{% endif %}>
    {% for file in current_files %}
        <label class="flex items-center gap-2">
            <input type="checkbox" name="{{ widget.name }}__retain" value="{{ file.pk }}" checked{% if widget.attrs.disabled %} disabled{% endif %}>
            <span>{% translate "Keep" %}</span>
            <a href="{% url 'components_preview_file' file_id=file.pk %}"
               hx-get="{% url 'components_preview_file' file_id=file.pk %}"
               hx-target="#bloomerp-general-use-drawer-body" hx-swap="innerHTML" hx-push-url="false"
               bloomerp-open-drawer="bloomerp-general-use-drawer" class="link">{{ file.name }}</a>
        </label>
    {% endfor %}
</div>
