{% load static %}
{% load bloomerp %}

<header id="header" class="fixed top-0 w-full z-50 bg-base">
    <div class="flex items-center justify-between px-3 ">
        <!-- Logo -->
        <div class="flex items-center justify-between w-64">
            <a
                hx-get="{% url "bloomerp_home_view" %}"
                hx-target="#main-content"
                hx-swap="innerHTML"
                hx-push-url="true"
                class="flex items-center cursor-hover:cursor-pointer">
            <img src="{% static 'bloomerp/img/logo.png' %}" class="hidden md:block h-14">
            <img src="{% static 'bloomerp/img/logo-touch-icon.png' %}" class="md:hidden" width="30" height="30">
            </a>

            <button onclick="toggleSidebar()" type="button" class="hover:cursor-pointer">
                <c-icons.lines_horizontal size="24"/>
            </button>
            
        </div>
        <!-- End Logo -->

        <!-- Search bar using dropdown component -->
        <c-ui.dropdown.body
            trigger_html='<input type="text" class="w-full input" id="searchInput" name="search_results_query" placeholder="Search (ctrl + q)" autocomplete="off" hx-get="{% url 'components_search_results' %}" hx-trigger="keyup delay:300ms" hx-target="#searchResult" @keyup="open = true" />'
            trigger_selector="#searchInput"
            wrapper_class="md:ml-4 ml-1 flex-1 max-w-md"
            menu_class="w-full max-h-64 overflow-auto"
        >
            <div id="searchResult"></div>

            <c-ui.dropdown.item text="Help"/>
        </c-ui.dropdown.body>
        <!-- End Search bar -->
        
        <!-- Start Icons Navigation -->
        <nav class="ml-auto">
            <ul class="flex items-center space-x-4 mb-0">
                <li>
                    <a 
                        onclick="openModal('todoModal')"
                        class="relative text-gray-600 hover:text-primary-600 hover:bg-gray-100 rounded-lg transition-colors cursor-hover:cursor-pointer" 
                        hx-get="{% url 'components_todos' %}"
                        hx-target="#todo-container"
                        hx-swap="innerHTML"
                        hx-trigger="click"
                        href="#">
                        <c-icons.todo size="24"/>
                    </a>
                </li>
                <!--End Todo-->

                <!--AI-->
                <li>
                    <a 
                        onclick="openModal('modal_bloom_ai')"
                        class="flex items-center text-gray-600 hover:text-primary-600 hover:bg-gray-100 rounded-lg transition-colors cursor-hover:cursor-pointer" 
                        href="#">
                        <c-icons.ai size="24"/>
                    </a>
                </li>
                <!--End AI-->
                
                <!--Profile dropdown-->
                <li class="relative pr-3">
                    <c-ui.dropdown.body 
                        trigger_text="{% avatar object=request.user class_name='rounded-full w-8 h-8' size=32 %}<span class='hidden md:block ml-2 text-sm font-medium text-gray-700'>{{request.user.first_name}} {{request.user.last_name}}</span>"
                        position="right"
                        size="md"
                        :icon="False"
                    >
                        <div class="px-4 py-3 border-b border-gray-200">
                            <h6 class="text-sm font-semibold text-primary-800">{{request.user.username}}</h6>
                        </div>
                        
                        <c-ui.dropdown.item 
                            text="Account Settings" 
                            icon="bi bi-gear" 
                            hx_get="{% url 'users_my_profile_overview' %}"
                            hx_target="#main-content"
                            hx_swap="innerHTML"
                            hx_push_url="true"
                        />
                        
                        {% if request.user.is_staff %}
                        <c-ui.dropdown.item 
                            text="Admin page" 
                            icon="bi bi-hammer" 
                            href="/admin/"
                        />
                        {% endif %}
                        
                        <c-ui.dropdown.item 
                            text="Bookmarks" 
                            icon="bi bi-bookmark" 
                            hx_get="{% url 'bookmarks_user_bookmarks' %}"
                            hx_target="#main-content"
                            hx_swap="innerHTML"
                            hx_push_url="true"
                        />
                        
                        <c-ui.dropdown.item type="divider"/>
                        
                        <c-ui.dropdown.item 
                            text="Sign Out" 
                            icon="bi bi-box-arrow-right" 
                            danger=True
                            onclick="document.getElementById('logoutForm').submit()"
                        />
                        
                        <!-- Hidden logout form -->
                        <form id="logoutForm" action="{% url 'logout' %}" method="post" style="display: none;">
                            {% csrf_token %}
                        </form>
                    </c-ui.dropdown.body>
                </li>
                <!-- End Profile Dropdown Items -->
            </ul>
        </nav>
        <!-- End Icons Navigation -->
    </div>
</header>