{% comment %}
TODO: M2M relationship should be enhanced
{% endcomment %}

<td 
    class="cursor-context-menu" 
    data-dropdown="cell-menu"
    data-column-index="{{ column_index }}"
    data-row-index="{{ row_index }}"
    data-value="{{ value }}"
    
    data-object-id="{{ object.pk }}"
    data-object-string="{{ object }}"
    data-application-field-id="{{ application_field_id }}"
    data-application-field-name="{{ application_field.field }}"

    data-detail-url="{{ url }}"

    bloomerp-component="datatable-cell"
    >
    {{ value | safe }}
</td>
