<td 
    class="cursor-context-menu" 
    data-dropdown="cell-menu"
    data-column-index="{{ column_index }}"
    data-row-index="{{ row_index }}"
    data-value="{{ value }}"
    
    data-object-id="{{ object.pk }}"
    data-application-field-id="{{ application_field_id }}"
    
    data-detail-url="{{ url }}"

    bloomerp-component="datatable-cell"
    >
    {% if is_field_type.foreign_key %}
        {% if value.get_absolute_url %}
        <a 
            hx-get="{{ value.get_absolute_url }}"
            hx-swap="innerHTML"
            hx-trigger="click"
            hx-target="#main-content"
            hx-push-url="true"
            class="text-primary"
            data-no-row-click
            >{{ value }}</a>
        {% else %}
            {{ value }}
        {% endif %}
    {% elif is_field_type.boolean_field %}
        {% if value %}
            <span class="badge bg-success">Yes</span>
        {% else %}
            <span class="badge bg-danger">No</span>
        {% endif %}
    {% else %}
        {{ value }}
    {% endif %}
</td>