<div class="w-full sm:w-auto" data-data-view-button="{{ action.id }}">
    <c-ui.shortcut_tooltip
        position="bottom"
        action="click"
        shortcut="{{ action.shortcut }}"
        focus_target="select"
    >
        <c-ui.dropdown.body
            trigger_text="Filter"
            trigger_icon_class="fa fa-filter"
            trigger_button_class="btn-secondary"
            trigger_class="w-full justify-center gap-2"
            wrapper_class="w-full"
            size="sm"
            width="w-128"
            fixed=True
            menu_class="max-h-[calc(100vh-6rem)] max-w-[calc(100vw-1rem)] overflow-auto"
        >
            <c-features.filters.container scope="model" id="{{ content_type_id }}"/>
        </c-ui.dropdown.body>
    </c-ui.shortcut_tooltip>
</div>
