<!DOCTYPE html>
<html lang="en">
	{% load static %}
	{% load globals %}
	{% load bloomerp %}

	<head>
		{% include "snippets/head.html" %}
	</head>

	{% block body %}
	<body class="bg-base" id="bloomerpBody" x-data>	
		<!--Header -->
		<c-header.header/>
		<!-- End Header -->

		<!-- Sidebar -->
		<c-sidebar.body/>
		<!-- End Sidebar-->		
		 
		<!--Main -->
		<main id="main" class="transition-all duration-300 ease-in-out mb-2 bg-white mt-14 h-[calc(100vh-4.2rem)] rounded-lg overflow-y-auto border border-gray-200 me-2">
			<div id="main-content" hx-history-elt class="px-6 py-6 h-full overflow-y-auto">
				{% block main %}
					{% if include_main_content %}
						{% include include_main_content %}
					{% endif %}
				{% endblock main %}
			</div>
		</main>
		<!-- End-->

		<!-- TypeScript Bundle (Vite) - Includes datatable module -->
		{% include 'snippets/vite_bundle.html' %}

		<!--Modals-->
		<c-ui.modal id="create-object-modal" title="Create object"/>
		<c-ui.modal id="todo-modal" title="Todo's" size="lg"></c-ui.modal>
		<c-ui.modal id="advanced-query-modal" title="Advanced query"/>
		
		<!--Messages -->
		<div id="bloomerp-messages"></div>

		<c-ui.modal id="bloomerp-general-use-modal"/>

		{% block scripts %}
		
		{% endblock scripts %}
	</body>
	{% endblock body %}
</html>
