<div id="htmx-addendum" {% if include_addendum_oob %}hx-swap-oob="outerHTML"{% endif %}>
    <div class="mb-4 flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
        <c-ui.text.subtitle>
            {{ route_title | title }}
        </c-ui.text.subtitle>

        <div class="w-full overflow-x-auto sm:w-auto sm:max-w-[60%]">
            <c-ui.breadcrumb.body class="min-w-max justify-start sm:justify-end">
                {% for crumb in breadcrumbs %}
                    {% if crumb.active %}
                    <c-ui.breadcrumb.item
                        text="{{ crumb.text | title }}"
                        hx_get="{{ crumb.url }}"
                        hx_target="#main-content"
                        hx_swap="innerHTML"
                        hx_push_url="true"
                        separator="chevron"
                        :active="True"
                        />
                    {% else %}
                    <c-ui.breadcrumb.item
                        text="{{ crumb.text | title }}"
                        hx_get="{{ crumb.url }}"
                        hx_target="#main-content"
                        hx_swap="innerHTML"
                        hx_push_url="true"
                        separator="chevron"
                        :active="False"
                        />
                    {% endif %}
                {% endfor %}
            </c-ui.breadcrumb.body>
        </div>
    </div>
</div>

{% include template_name %}
