{% load cotton %}

<div class="mb-2 flex justify-between">
    <h1 class="text-2xl font-semibold text-primary-900 mb-2">{{ title }}</h1>
    <c-ui.breadcrumb.body>
        <!-- Home breadcrumb item -->
        <c-ui.breadcrumb.item 
            text="Home" 
            hx_get="{% url 'bloomerp_home_view' %}" 
            hx_target="#main-content" 
            hx_swap="innerHTML" 
            hx_push_url="true"
        />
        
        <!-- Model dashboard breadcrumb item -->
        {% if model_name_plural %}
        <c-ui.breadcrumb.item 
            text="{{ model_name_plural|title }}" 
            hx_get="{% url model_dashboard_url %}" 
            hx_target="#main-content" 
            hx_swap="innerHTML" 
            hx_push_url="true"
        />
        {% endif %}
        
        <!-- Object detail breadcrumb item -->
        {% if object %}
        <c-ui.breadcrumb.item 
            text="{{ object }}" 
            hx_get="{{ object.get_absolute_url }}" 
            hx_target="#main-content" 
            hx_swap="innerHTML" 
            hx_push_url="true"
        />
        {% endif %}
        
        <!-- Current page (active) breadcrumb item -->
        <c-ui.breadcrumb.item 
            text="{{ title }}" 
            active=True
        />
    </c-ui.breadcrumb.body>
</div>