{# initial_filters is a JSON-encoded list of Filter groups. #}
<div
    bloomerp-component="unified-filter-container"
    data-fields-url="{% url 'components_filters_fields' %}"
    data-lookups-url="{% url 'components_filters_lookups' %}"
    data-value-editor-url="{% url 'components_filters_value_editor' %}"
    data-scope="{{ scope }}"
    data-scope-id="{{ id }}"
    {% if initial_filters %}
    data-initial-filters="{{ initial_filters|force_escape }}"
    {% elif request.GET.filter %}
    data-initial-filters="{{ request.GET.filter|force_escape }}"
    {% else %}
    data-initial-filters="[]"
    {% endif %}
    >

</div>
