<div class="grid grid-cols-[148px_1fr]">
    <div class="border-r border-gray-200 bg-white">
        {% for type in types %}
        <button type="button"
            class="flex w-full flex-col items-center gap-3 border-b border-gray-200 px-2 py-4 text-gray-700 hover:bg-primary/5 hover:cursor-pointer">
            <i class="fa {{ type.value.icon }} text-2xl text-primary/70"></i>
            <span class="text-sm font-medium">{{ type.value.name }}</span>
        </button>
        {% endfor %}

    </div>
    <div class="space-y-6 bg-white p-6 h-full">
        <div>
            <c-ui.text.subtitle>
                Fields
            </c-ui.text.subtitle>
            <c-ui.text.muted>
                Select the fields required to build your analytics tiles.
                They are based on the columns that were defined in your query.
            </c-ui.text.muted>

            <div class="grid grid-cols-2 mt-2">
                <div class="col-span-1">
                    <div class="flex items-center gap-2 text-muted">
                        <span>X-axis</span>
                        <i class="fa fa-palette"></i>
                    </div>

                    <div class="border border-gray-200 p-4 rounded-md text-gray-500">
                        <button type="button" class="btn btn-xs btn-secondary">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <c-ui.text.subtitle>
                Options
            </c-ui.text.subtitle>
            <c-ui.text.muted>
                Global options for your tile. These may include things like chart type, colors, etc.
            </c-ui.text.muted>
        </div>
    </div>
</div>