<div 
    bloomerp-component="workspace-container"
    data-tile-ids="1,2,3,4,5,6"
    >
    <div class="mb-2 flex justify-start gap-2">

        <button class="btn btn-sm btn-secondary" id="filter-workspaces-btn">
            <i class="fa fa-filter"></i> Filter 
        </button>

        <button class="btn btn-sm btn-secondary text-gray-600" id="edit-workspaces-btn">
            <i class="fa fa-gear"></i> Edit 
        </button>
    </div>


    <div class="grid grid-cols-4 gap-4" id="workspace-tiles-section">
        
    </div>
</div>

