<c-layout.container 
    component_name="workspace-container" 
    :layout="workspace.layout_obj"
    :layout_object_id="workspace.id"
    :layout_object_content_type_id="{{ workspace_content_type_id.id }}"
    :can_edit="True"
    >
    <c-slot name="buttons_left">

        <c-ui.dropdown.body
                trigger_text="Share"
                trigger_button_class="btn btn-sm btn-secondary"
                trigger_icon_class="fa fa-share-nodes"
                position="left"
            >
            <div
                id="workspace-share-component-{{ workspace.id }}"
                class="p-2"
                hx-get="{% url 'components_workspaces_share_workspace' workspace_id=workspace.id %}"
                hx-trigger="load"
                hx-target="this"
                hx-swap="innerHTML"
            >
                <div class="px-3 py-2 text-sm text-slate-500">
                    <c-blocktrans>Loading sharing options...</c-blocktrans>
                </div>
            </div>
        </c-ui.dropdown.body>
        <button class="btn btn-sm btn-secondary">
            <i class="fa fa-filter"></i>
            Filter
        </button>
    </c-slot>
</c-layout.container>
