<div 
    bloomerp-component="workspace-container"
    data-layout='{{ layout_json|default:"{\"rows\":[{\"title\":null,\"columns\":4,\"items\":[]}]}" }}'
    data-workspace-id="{{ workspace_id|default:'' }}"
    data-layout-save-url="/components/workspaces/save_workspace_layout/"
    data-layout-available-items-url="/components/workspaces/available_workspace_tiles/"
    data-layout-render-item-url="/components/render_workspace_tile/"
    data-layout-kind="workspace"
    class="space-y-3"
>
    <div class="flex items-center justify-end my-2 gap-4">
        <button class="btn btn-sm btn-secondary" type="button" data-layout-edit-toggle>
            <i class="fa fa-pen-to-square"></i> Edit
        </button>
        <button class="btn btn-sm btn-secondary" type="button">
            <i class="fa fa-filter"></i> Filter
        </button>
        <button class="btn btn-sm btn-secondary hidden" type="button" data-layout-open-sidebar bloomerp-open-drawer="workspace-layout-items-drawer">
            <i class="fa fa-grip"></i> Add items
        </button>
    </div>

    <div class="space-y-4" data-layout-root></div>

    <div class="absolute bottom-6 right-6 gap-4 flex">
        <button 
            class="btn btn-primary" 
            type="button"
            data-layout-open-sidebar
            bloomerp-open-drawer="workspace-layout-items-drawer"
            >
            <c-blocktrans>Add tile</c-blocktrans>
        </button>
    </div>

    <c-ui.drawer 
        id="workspace-layout-items-drawer" 
        side="right" 
        backdrop="False"
        >
        <div class="p-4">
            <c-ui.text.subtitle class="">
                Workspace Items
            </c-ui.text.subtitle>
            <div class="mt-4" data-layout-available-items></div>
        </div>
    </c-ui.drawer>
</div>
