{% load static %}
<div class="filter-input-row flex justify-between align-items-center">
    <div class="flex items-center gap-2">
        <button onclick="removeFilterInputRow(this)">
            <c-icons.close size="24" />
        </button>
        <select class="selectedField" hx-get="{% url 'components_list_view_filter_inputs' %}?step=action"
            hx-target="#filterActionDiv{{id}}" hx-swap="innerHTML" hx-trigger="change" name="application_field_id">
            <option value="" selected disabled>Select field</option>
            {% for field in filter_application_fields %}
            {% if field.field_type not in 'Property,OneToManyField' %}
            <option value="{{ field.pk }}" type="{{ field.field_type }}">{{ field.title }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div id="filterActionDiv{{id}}" class="col">
    </div>
</div>

<div class="new-filter-input-row">

</div>