{% load static %}

<div class="flex justify-between mb-2 px-4 py-2">
    <!--Comments and bookmark section-->
    <div class="flex gap-3">

        <!--Comments-->
        <a class="hover:cursor-pointer" id="dropdownCommentsMenu" onclick="openModal('commentsModal')">
            <img src="{% static 'bloomerp/icons/chat-line.svg' %}" height="30" width="30" alt="Comments" />
        </a>
        <!--End Comments-->

        <!--Bookmark-->
        <div id="bookmarkButton"
            hx-get="{% url 'components_bookmark' %}?object_id={{object.pk}}&content_type_id={{content_type_id}}"
            hx-trigger="load" hx-swap="this">
        </div>
        <!--End Bookmark-->

        <!--Todos-->
        <a class="hover:cursor-pointer" onclick="openModal('todoModal')"
            hx-get="{% url 'components_todos' %}?object_id={{object.pk}}&content_type_id={{content_type_id}}"
            hx-trigger="click" hx-target="#todo-container" hx-swap="innerHTML">
            <img src="{% static 'bloomerp/icons/notebook.svg' %}" height="30" width="30" alt="Comments" />
        </a>
        <!--End Todos-->

        <!--Object AI-->
        <a class="hover:cursor-pointer" data-bs-toggle="modal" data-bs-target="#modal_object_ai">
            <img src="{% static 'bloomerp/icons/ai.svg' %}" height="30" width="30" alt="Comments" />
        </a>
        <!--End object AI-->
    </div>



    <!--Settings-->
    <div class="flex">
        <c-ui.dropdown.body>
            <c-ui.dropdown.item text="Settings"/>
            {% if not disable_tab_select %}
            <c-ui.dropdown.item text="Update tabs" onclick="openModal('updateTabsModal')"/>
            {% endif %}
        </c-ui.dropdown.body>
        
        <a class="icon" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'bloomerp/icons/dots.svg' %}" height="25" width="25" alt="Filter" />
        </a>
            
    </div>
    <!--Settings-->
</div>

<!--Comments modal-->
<c-ui.modal id="commentsModal" title="Comments">
    <div hx-get="{% url 'components_comments' %}?content_type_id={{ content_type_id }}&object_id={{ object.pk }}"
        hx-trigger="load" hx-target="this" hx-swap="innerHTML" id="commentsModalContent">
    </div>

    {% include 'detail_views/snippets/post_comment_snippet.html' with target="#commentsModalContent" object=object content_type_id=content_type_id%}
</c-ui.modal>
<!-- End Comments modal -->
