{% load static %}

<div class="flex justify-between mb-2 py-2">
    <!--Comments and bookmark section-->
    <div class="flex gap-3">

        <!--Comments-->
        <c-ui.tooltip text="Comment" position="bottom">
            <a class="hover:cursor-pointer" id="dropdownCommentsMenu" onclick="openModal('commentsModal')">
                <c-icons.chat/>
            </a>
        </c-ui.tooltip>
        <!--End Comments-->

        <!--Bookmark-->
        <c-ui.tooltip text="Bookmark" position="bottom">
            <div id="bookmarkButton"
                hx-get="{% url 'components_bookmark' %}?object_id={{object.pk}}&content_type_id={{content_type_id}}"
                hx-trigger="load" hx-swap="this">
            </div>
        </c-ui.tooltip>
        <!--End Bookmark-->

        <!--Todos-->
        <c-ui.tooltip text="Load todo's" position="bottom">
            <a class="hover:cursor-pointer" onclick="openModal('todoModal')"
                hx-get="{% url 'components_todos' %}?object_id={{object.pk}}&content_type_id={{content_type_id}}"
                hx-trigger="click" hx-target="#todo-container" hx-swap="innerHTML">
                <c-icons.todo/>
            </a>
        </c-ui.tooltip>
        <!--End Todos-->

        <!--Object AI-->
        <c-ui.tooltip text="Load BloomAI" position="bottom">
            <a class="hover:cursor-pointer" data-bs-toggle="modal" data-bs-target="#modal_object_ai">
                <img src="{% static 'bloomerp/icons/ai.svg' %}" height="30" width="30" alt="Comments" />
            </a>
        </c-ui.tooltip>
        <!--End object AI-->
    </div>



    <!--Settings-->
    <c-ui.tooltip text="Settings" position="bottom">
        <c-ui.dropdown.body 
            trigger_icon="three_dots"
            icon="False"
            >
            <c-ui.dropdown.item text="Settings"/>
            {% if not disable_tab_select %}
            <c-ui.dropdown.item text="Update tabs" onclick="openModal('updateTabsModal')"/>
            {% endif %}
        </c-ui.dropdown.body>
    </c-ui.tooltip>
    <!--Settings-->
</div>

<!--Comments modal-->
<c-ui.modal id="commentsModal" title="Comments">
    <div hx-get="{% url 'components_comments' %}?content_type_id={{ content_type_id }}&object_id={{ object.pk }}"
        hx-trigger="load" hx-target="this" hx-swap="innerHTML" id="commentsModalContent">
    </div>

    {% include 'detail_views/snippets/post_comment_snippet.html' with target="#commentsModalContent" object=object content_type_id=content_type_id%}
</c-ui.modal>
<!-- End Comments modal -->
