{% load static %}
{% load bloomerp %}
{% load crispy_forms_tags %}

<!--Pagetitle-->
<div class="flex justify-between items-center">
	{% breadcrumb object=object model=model %}

	<div>
		{% include "detail_views/snippets/card_header.html" with content_type_id=content_type_id object=object %}
	</div>
</div>
<!--End Pagetitle-->

<!--Picture-->
<div class="flex justify-center mb-3">
	{% avatar object=object size="6em" class_name="rounded-circle" %}
</div>
<!--End Picture-->

<!--Text under picture-->
<div class="flex justify-center mb-6">
	<h2 class="text-xl font-bold">{{object}}</h2>
</div>
<!--End Text under picture-->

<!--Card Tabs-->
<c-ui.tabs.container>
	<!--If tabs are defined in the view, it should override-->
	{% if tabs %}
		{% for tab in tabs %}
		<c-ui.tabs.item>
			<a 
				class="nav-link text-sm" 

				{% if tab.requires_pk %}
					hx-get="{% url tab.url object.pk %}"
				{% else %}
					hx-get="{% url tab.url %}" 
				{% endif %} 
				
				type="submit" 
				hx-swap="innerHTML" 
				hx-trigger="click"
				hx-target="#detail-view-content" 
				hx-push-url="true" 
				{% if tab.requires_pk %} 
				id="{% url tab.url object.pk %}" {% else %} 
				id="{% url tab.url %}" 
				{% endif %}
				>
				{{tab.name}}
			</a>
		</c-ui.tabs.item>
		{% endfor %}
	{% else %}
		{% for tab in detail_view_tabs %}
		<c-ui.tabs.item>
			<a hx-get="{% url tab.link.url object.pk %}" type="submit" hx-swap="innerHTML" hx-trigger="click"
				hx-target="#detail-view-content" hx-push-url="true"
				title="{{tab.link.description}}"
				id="{% url tab.link.url object.pk %}"
				>{{tab.link.name}}</a>
		</c-ui.tabs.item>
		{% endfor %}
	{% endif %}
</c-ui.tabs.container>
<!--End Card Tabs-->

<!--Content-->
<div id="detail-view-content">
	{% block content %}
		{% if include_detail_content %}
			{% include include_detail_content %}
		{% endif %}
	{% endblock content %}
</div>
<!--End Content-->


