{% load bloomerp %}
{% load static %}

{% if no_preferences%}
    <p>You currently have no list view preferences set for this model. You can your view preferences
        <a hx-get="{% url 'users_my_profile_detail_view_preference' %}?content_type_id={{content_type_id}}&return_to={{request.path}}"
            hx-target="#main-content" hx-swap="innerHTML" hx-trigger="click" hx-push-url="true">here.</a>
    </p>
{% endif %}

{% if sections %}
    {% for section in sections %}
    <div>
        {% if section.title %}
        <p class="text-primary-900 font-bold my-2">{{ section.title }}</p>
        {% endif %}

        <div class="grid grid-cols-1 md:grid-cols-{{ section.columns }} gap-2">
            {% for item in section.items %}
                <div>{{ item }}</div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endif %}





