{% load crispy_forms_tags %}
{% include 'snippets/messages.html' with messages=messages %}

<h5 class="card-title">Update {{object}}</h5>

{% if form.errors %}
<div class="alert alert-danger">
    <strong>Invalid input:</strong>
    {{form.errors}}
</div>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.helper %}{% crispy form %}{% else %}{{form|crispy}}{% endif %}

    <div class="gap-2 flex justify-center">
        <button type="submit" class="btn btn-primary">Save</button>
        <!-- Modal trigger button -->
        <button type="button" class="btn btn-danger" onclick='openModal("delete_object_modal")'>
            Delete
        </button>
    </div>

</form>

<!-- Modal Body -->
<c-ui.modal title="Delete {{object}}" id="delete_object_modal">
    <form action="" method="post">
        {% csrf_token %}
        <div class="modal-body">
            <p>Are you sure you want to delete {{object}}?</p>
            <input name="delete" value="true" type="hidden" />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
            </button>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>
</c-ui.modal>